.starWrapper {
    display: flex;
    .starItem {
        cursor: pointer;
        height: 20px;
        width: 20px;
        background: url('../../assets/images/star_icon.svg')no-repeat center -2px;
        background-size: 35px;
    }
    .activeStar {
        background: url('../../assets/images/star_icon_active.svg')no-repeat center -2px;
        background-size: 35px;
    }
}

.tourСards {
    .container {
        margin-top: -80px;
        .cardsList {
            .tourСards {
                .tourWrapper {
                    border-radius: 4px;
                    height: 470px;
                    padding: 40px;
                    color: #fff;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .topTourWrapper {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .bottomInfo {
                        display: flex;
                        flex-direction: column;
                    }
                    .price {
                        font-size: 26px;
                        font-weight: 600;
                    }
                }
                &:nth-child(1) {
                    .tourWrapper {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url('../../assets/images/mountain1.jpg')no-repeat center center;
                        background-size: cover;
                    }
                }
                &:nth-child(2) {
                    .tourWrapper {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url('../../assets/images/mountain2.jpg')no-repeat center center;
                        background-size: cover;
                    }
                }
                &:nth-child(3) {
                    .tourWrapper {
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url('../../assets/images/mountain3.jpg')no-repeat center center;
                        background-size: cover;
                    }
                }
            }
        }
    }
}
