.starWrapper{
    .content {
      text-align: center;
      margin-top:150px;
    }
    .content  i {
      color: #FFC107;
    }
    .content span {
      position: relative;
      display: inline-block;
    }
    .content  span:before, .content  span:after {
      position: absolute;
      content: "";
      background-color: #282828;
      width: 40px;
      height: 2px;
      top: 40%;
    }
    .content  span:before {
      left: -45px;
    }
    .content  span:after {
      right: -45px;
    }
    .content p {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      letter-spacing: 1px;
    }
    .wrapper {
      position: relative;
      display: inline-block;
      border: none;
      font-size: 14px;
    }

    .wrapper input {
      border: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      position: absolute !important;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      opacity: 0;
    }

    .wrapper label {
      position: relative;
      float: right;
      color: #C8C8C8;
    }

    .wrapper label:before {
      margin: 5px;
      content: "\f005";
      font-family: FontAwesome;
      display: inline-block;
      font-size: 14px;
      color: #ccc;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .wrapper input:checked ~ label:before {
      color: #FFC107;
    }

    .wrapper label:hover ~ label:before {
      color: #ffdb70;
    }

    .wrapper label:hover:before {
      color: #FFC107;
    }
}

.tourСards {
  .container {
    margin-top: -80px;
    .cardsList {
      .tourСards {
        .tourWrapper{
          border-radius: 4px;
          height: 470px;
          padding: 40px;
          color: #fff;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .topTourWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .bottomInfo {
            display: flex;
            flex-direction: column;
          }
          .price {
            font-size: 26px;
            font-weight: 500;
          }

        }
        &:nth-child(1) {
          .tourWrapper {
            background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url('../../assets/images/mountain1.jpg')no-repeat center center;
            background-size: cover;
          }
        }
        &:nth-child(2) {
          .tourWrapper {
            background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url('../../assets/images/mountain2.jpg')no-repeat center center;
            background-size: cover;
          }
        }
        &:nth-child(3) {
          .tourWrapper {
            background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url('../../assets/images/mountain3.jpg')no-repeat center center;
            background-size: cover;
          }
        }
      }
    }
  }
}
