@charset "UTF-8";
.tourСards .container {
  margin-top: -80px; }
  .tourСards .container .cardsList .tourСards .tourWrapper {
    border-radius: 4px;
    height: 470px;
    padding: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .tourСards .container .cardsList .tourСards .tourWrapper .topTourWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .tourСards .container .cardsList .tourСards .tourWrapper .bottomInfo {
      display: flex;
      flex-direction: column; }
    .tourСards .container .cardsList .tourСards .tourWrapper .price {
      font-size: 26px; }
  .tourСards .container .cardsList .tourСards:nth-child(1) .tourWrapper {
    background: url("../../assets/images/mountain1.jpg") no-repeat center center;
    background-size: cover; }
  .tourСards .container .cardsList .tourСards:nth-child(2) .tourWrapper {
    background: url("../../assets/images/mountain2.jpg") no-repeat center center;
    background-size: cover; }
  .tourСards .container .cardsList .tourСards:nth-child(3) .tourWrapper {
    background: url("../../assets/images/mountain3.jpg") no-repeat center center;
    background-size: cover; }
