.close {
  font-size: 40px;
  position: absolute;
  right: -15px;
  top: 4px;
  outline: none; }

.modal-header .close {
  padding: 0; }

.modal-header {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center; }

.modal-body {
  padding: 10px 40px 0; }

.custom-control-label:before {
  border: 2px solid #666666;
  border-radius: .25rem;
  background: none;
  outline: none; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fd4d4f;
  outline: none;
  border: none; }

.modal-footer {
  border: none;
  padding: 15px 40px 30px;
  display: flex;
  flex-direction: column;
  color: #666666;
  font-size: 15px; }

.modal-title {
  font-weight: 800;
  font-size: 26px; }

.modalCustom {
  font-size: 15px; }
  .modalCustom .regSingUp {
    margin-top: 10px;
    font-weight: 300; }
    .modalCustom .regSingUp a {
      font-weight: 500;
      color: #FD4D4F; }
      .modalCustom .regSingUp a:hover {
        color: #FD4D4F;
        text-decoration: none; }
  .modalCustom .FacebookIcBg {
    background: url("../../assets/images/facebook.png") no-repeat center center;
    background-size: 100%; }
  .modalCustom .GoogleIcBg {
    background: url("../../assets/images/google.png") no-repeat center center;
    background-size: 100%; }
  .modalCustom .m-15 {
    margin: 15px 0;
    font-weight: 300; }
  .modalCustom .modal-dialog {
    max-width: 410px; }
  .modalCustom .buttonSocial {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .modalCustom .buttonSocial button {
      display: flex;
      width: 45%;
      align-items: center;
      justify-content: space-evenly; }
      .modalCustom .buttonSocial button span {
        width: 18px;
        height: 18px;
        display: block; }
      .modalCustom .buttonSocial button:hover {
        background: none; }
    .modalCustom .buttonSocial .btn-outline-primary:hover {
      color: #007bff; }
    .modalCustom .buttonSocial .btn-outline-danger:hover {
      color: #dc3545; }
  .modalCustom .inputsWrapper {
    color: #333333;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 15px; }
    .modalCustom .inputsWrapper label {
      font-weight: 500; }
    .modalCustom .inputsWrapper input {
      border: 1px solid #D8D8D8;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      outline: none;
      height: 44px;
      padding: 0 16px; }
  .modalCustom .wrapperRemForgot {
    display: flex;
    justify-content: space-between;
    color: #666666;
    font-weight: 300; }
    .modalCustom .wrapperRemForgot a {
      color: #666666; }
      .modalCustom .wrapperRemForgot a:hover {
        color: #666666;
        text-decoration: none; }
  .modalCustom .login {
    height: 40px;
    width: 330px;
    border-radius: 4px;
    background-color: #FD4D4F;
    box-shadow: 0 5px 10px 0 rgba(253, 77, 79, 0.3);
    border: none; }
