.popularAdv .containerTitle {
  margin-top: 80px; }

.popularAdv .popularAdventures .topWrapper {
  color: #fff;
  font-size: 18px;
  padding: 10px;
  height: 180px;
  display: flex;
  justify-content: space-between; }

.popularAdv .popularAdventures .bottomWrapper {
  height: 96px;
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .popularAdv .popularAdventures .bottomWrapper .tourType {
    padding: 0; }
  .popularAdv .popularAdventures .bottomWrapper .tourCity {
    font-size: 20px;
    padding: 0; }
  .popularAdv .popularAdventures .bottomWrapper .tourLocation {
    background: url(../../assets/images/location_pin_blk.svg) no-repeat 0px center;
    background-size: 18px; }
  .popularAdv .popularAdventures .bottomWrapper .ratingLocation {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .popularAdv .popularAdventures .bottomWrapper .rate .rating {
    font-size: 12px; }
    .popularAdv .popularAdventures .bottomWrapper .rate .rating label {
      margin: 0; }

.popularAdv .popularAdventures .wrapperHellper {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px; }

.popularAdv .popularAdventures .tAWrapper {
  height: 300px; }
  .popularAdv .popularAdventures .tAWrapper:nth-child(1) .topWrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url("../../assets/images/mountain1.jpg") no-repeat center center;
    background-size: cover; }
  .popularAdv .popularAdventures .tAWrapper:nth-child(2) .topWrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url("../../assets/images/mountain2.jpg") no-repeat center center;
    background-size: cover; }
  .popularAdv .popularAdventures .tAWrapper:nth-child(3) .topWrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url("../../assets/images/mountain3.jpg") no-repeat center center;
    background-size: cover; }
  .popularAdv .popularAdventures .tAWrapper:nth-child(4) .topWrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 69%, rgba(0, 0, 0, 0.6) 100%), url("../../assets/images/mountain1.jpg") no-repeat center center;
    background-size: cover; }
  .popularAdv .popularAdventures .tAWrapper .wrapperHellper:hover {
    box-shadow: 0px 20px 104px -12px rgba(0, 0, 0, 0.75); }
